@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #333333; // Primary text color
  background-color: #f7f7f7; // Light Gray Background
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p,
a,
button {
  font-family: "Roboto", sans-serif;
}

/* app/styles/globals.scss */
.hero-background {
  height: calc(100vh - 80px);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(51, 51, 51, 0.8)
    ),
    url("/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* app/styles/globals.scss */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #333333; // Primary text color
  background-color: #f7f7f7; // Light Gray Background
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p,
a,
button {
  font-family: "Roboto", sans-serif;
}

/* app/styles/globals.scss */
.hero-background {
  height: calc(100vh - 80px);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(51, 51, 51, 0.8)
    ),
    url("/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section {
  height: calc(100vh); // Height of the image section minus the navbar height
  background: linear-gradient(
      to bottom,
      rgba(0, 123, 255, 0.4),
      rgba(0, 123, 255, 0.1)
    ),
    url("https://storage.googleapis.com/syncmove/1729704853987-login-face.jpg");
  background-size: cover;
  background-position: center;
}

// Scheduling Page
.scheduling-background {
  background-image: url("/bg-schedule.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  // Overlay for background
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); // Adjust overlay color and opacity
    z-index: 1;
  }

  // Content wrapper for page elements
  .scheduling-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    width: 100%;
    padding: 3rem;
    background: rgba(255, 255, 255, 0.85); // Semi-transparent for contrast
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    color: #333333; // Dark text color for contrast
  }
}

// Frequently Asked Questions
.faq-background {
  background-image: url("/faq.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .faq-content {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 3rem;
  }
}

// Notifications
.notification-background {
  background-image: url("/notifications/notification.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .notification-content {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 3rem;
    opacity: 0.8;
  }
}

// Sign Up
.signup-background {
  background-image: url("/signup.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .signup-content {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 3rem;
    opacity: 0.9;
  }
}

// About Us
.about-background {
  background-image: url("/images/galaxy.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Adjust opacity as needed
    z-index: 1;
  }

  .about-content {
    position: relative;
    z-index: 2;
  }
}

// Loading Spinner
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.highlight-1 {
  animation: glow1 2s infinite alternate;
}

.highlight-2 {
  animation: glow2 2s infinite alternate;
}

@keyframes glow1 {
  0% {
    box-shadow: 0 0 10px rgba(255, 183, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 183, 0, 1);
  }
}

@keyframes glow2 {
  0% {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 123, 255, 1);
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50; /* High z-index to ensure it's on top */
}
.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  width: 400px;
}
.modal-button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal-button:hover {
  background-color: #0056b3;
}
