@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #333333; // Primary text color
  background-color: #f7f7f7; // Light Gray Background
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p,
a,
button {
  font-family: "Roboto", sans-serif;
}

/* app/styles/globals.scss */
.hero-background {
  height: calc(100vh - 80px);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(51, 51, 51, 0.8)
    ),
    url("/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* app/styles/globals.scss */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #333333; // Primary text color
  background-color: #f7f7f7; // Light Gray Background
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p,
a,
button {
  font-family: "Roboto", sans-serif;
}

/* app/styles/globals.scss */
.hero-background {
  height: calc(100vh - 80px);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(51, 51, 51, 0.8)
    ),
    url("/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section {
  height: calc(100vh); // Height of the image section minus the navbar height
  background: linear-gradient(
      to bottom,
      rgba(0, 123, 255, 0.4),
      rgba(0, 123, 255, 0.1)
    ),
    url("/login-face.jpg");
  background-size: cover;
  background-position: center;
}

// Scheduling Page
.schedule-workout-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  // Background Image Styles
  background-image: url("/bg-schedule.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); // Adjust overlay color and opacity
    z-index: 1;
  }

  // Content wrapper for page elements
  .content-wrapper {
    position: relative;
    z-index: 2;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.85); // Semi-transparent for contrast
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }
}
